
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.accountNavBarDiv {
    background-color: white;
    width:100%;
    margin-top:15px;
    border-bottom: 1px solid #e3e3e3;
}
.accountNavBar{
    width:75%;
    margin:0 auto;
}
.headerNav li {
    /* padding-bottom :20px; */
    cursor:pointer;
    margin:0 auto;  
    font: 15px 'opensans-bold', sans-serif;
}
