@media only screen and (max-width: 400px) {
    .hostEventTable {
     width:100%;
    }
  }
  .hostEventTable{
    border: 1px solid #e3e3e3;;
    width:85%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  }
  .hostEventTable .thead{
    border-bottom: 1.5px solid #778899;
  }
  .hostEventTable th{
      background-color:#DCDCDC;
      margin :20px;
      padding:20px;
  }