@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.mainBg {
    font-family: 'Poppins', sans-serif;
    background-image: url("../tree.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 7rem;
}