
.maneDiv{
    background-color: #f3f5f6;
    margin-top:0px;
    /* margin-bottom */

}

@media only screen and ( max-width: 500px) {
    .personalDetailsDiv {
        width:100%;
    }
  }

  @media only screen and (max-width: 500px) {
    .personalGalleryImg {
        width:500px;
        float:left;
    }
  }
  .personalGalleryImg{
  width: 250px;
}
  
.personalDetailsDiv{
    background-color: white;
    width:870px;
    margin:0 auto;
    border-style: outset;
    height: auto;
    overflow: hidden;
    margin-top :20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    
}
.description,.nameDiv{

    border-bottom: 1px solid #e3e3e3;
    margin:0 auto;
    text-align:left;
    margin-top:10px; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 260px;
    overflow: hidden;
    position: relative;
}
#h5Div{
    text-align:left;
    margin-top:10px; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    font-size :20px;
    color:grey;
}

.descriptionBox{
    margin-top:30px;
    margin-bottom:20px;
    
 
    height:100%;
}
button{
    float :right;
    border:none;
    background:none;
    size:50px;
}
textarea{
    width: 60%;
    margin:0 auto;
    border-radius: 5px;
}
.infoFormSection{
    margin : 0 auto;
}
.saveButton{
    background-color: #2E8B57;
    padding:8px 15px;
    color:white;
    margin-top:4px;
    border-radius: 8px;

}


