    .banner{
        position: relative;
        height: 250px;
        /* min-height:300px; */
        width: 100%;
        background: #161415 url(../Images/sarah-andesner-3.jpg)no-repeat top center;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        text-align: center;
        overflow: hidden;
        color : white;
    }